################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Email_Campain_Service/Email_Campain_Service.Data/obj
